.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Raleway", sans-serif;
  padding: 20px 120px 0;
}

.navitems {
  width: 400px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.navitems a {
  text-decoration: none;
  color: inherit;
}

.hero {
  position: relative;
  margin: 50px 120px 150px;
  display: flex;
  justify-content: space-between;
}
.hero .hero-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 108px;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 600;
  width: 70%;
  padding-bottom: 10px;
}
.hero .hero-text p {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
}
.hero .hero-image {
  height: 550px;
}
.hero .hero-image img {
  height: 100%;
}

.section {
  background: black;
  color: white;
  position: relative;
  height: 800px;
}
.section a {
  text-decoration: none;
  color: inherit;
}
.section header {
  padding: 100px 0 0 120px;
}
.section header h1 {
  font-size: 64px;
  padding-bottom: 0;
}
.section .art-id {
  position: absolute;
  display: flex;
  width: 350px;
  bottom: 70px;
  left: 120px;
  justify-content: space-between;
}
.section .art-id p {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin: 0;
  filter: brightness(50%);
  cursor: pointer;
}
.section .art-id p#active {
  filter: brightness(100%);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

article {
  font-family: "Raleway", sans-serif;
  height: 560px;
  padding-left: 120px;
}
article .text {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
}
article .text h1 {
  font-size: 36px;
  width: 70%;
  text-shadow: 2px 2px 5px black;
}
article .text .byline {
  font-size: 14px;
}
article .text .content {
  font-size: 20px;
  margin: auto 0;
  width: 30%;
  padding: 10px;
}
article .image {
  position: absolute;
  width: 800px;
  top: 0;
  right: 0;
  height: 100%;
}
article .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.8);
}

.lower-section {
  background: white;
  padding: 120px 120px 50px;
}

header {
  font-family: "Playfair Display", serif;
}
header h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 400;
  padding-bottom: 40px;
}

.posts {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 390px);
  justify-content: space-between;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.card {
  position: relative;
  background: #f3f3f3;
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
}
.card .image {
  padding: 0;
  margin: 0;
  height: 300px;
}
.card .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card .content {
  width: auto;
  position: relative;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.card .content h3 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1.1px;
  margin: 0;
}
.card .content .byline {
  font-size: 14px;
}
.card .content p {
  font-size: 20px;
}
.card a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.breakline {
  margin-top: 150px;
  border: 1px solid black;
}

.cont-sect {
  padding: 100px 120px 120px;
  margin: auto;
  text-align: center;
  position: relative;
}
.cont-sect .info {
  font-family: "Playfair Display", serif;
}
.cont-sect .info h1 {
  font-size: 64px;
  margin: 0 0 10px;
}
.cont-sect .info p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  margin: 0 0 20px;
}
.cont-sect .getmail input {
  width: 500px;
  height: 15px;
  padding: 20px;
  border: solid 2px grey;
  background-color: white;
  font-size: 20px;
  outline: none;
  border-radius: 50px;
}
.cont-sect .getmail input:focus {
  border: solid 2px black;
}
.cont-sect .getmail button {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  display: block;
  position: relative;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: white;
  width: 200px;
  border-radius: 50px;
  padding: 10px;
  height: 60px;
  font-size: 20px;
}
.cont-sect .message {
  font-family: "Raleway", sans-serif;
  padding-top: 30px;
}

.footer {
  background: black;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 50px 120px;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Raleway", sans-serif;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer .box1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer .box1 .social {
  width: 200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .box2 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer .box2 div {
  width: 200px;
  position: relative;
  display: flex;
  padding-bottom: 20px;
}
.footer .box2 div a {
  padding-right: 50px;
}
.footer .box3 p {
  opacity: 50%;
}

/*# sourceMappingURL=hstyles.css.map */
